<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link rel="shortcut icon" href="https://s.pinimg.com/webapp/favicon-22eb868c.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/profile-pic.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


  <script src="/javascripts/popup-form.js"></script>

</head>

<body>

  <div class="profile-container">
    <div class="profile-card">

      <!-- Profile Picture -->

      <div class="profile-pic-container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="confirm-identity">
                <div class="ci-user d-flex align-items-center justify-content-center">
                  <div class="ci-user-picture">
                    <img src="/images/profile/<%= user.dp %>" id="item-img-output"
                      class="imgpreviewPrf img-fluid" alt="">
                      <form action="/save-profile-image" method="post">
                        <input type="hidden" name="profile-pic" value="" id="profile-pic">
                      </form>
                  </div>
                </div>
                <div class="ci-user-btn upload-button">
                  <a href="javascript:;" class="userEditeBtn btn-default">
                    <input type="file" class="item-img file center-block filepreviewprofile">
                    CHANGE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade cropImageModal" id="cropImagePop" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <button type="button" class="close-modal-custom" data-dismiss="modal" aria-label="Close"><i
            class="feather icon-x"></i></button>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="modal-header-bg"></div>
              <div class="up-photo-title">
                <h3 class="modal-title">Update Profile Photo</h3>
              </div>
              <div class="up-photo-content pb-5">

                <div id="upload-demo" class="center-block">
                  <h5><i class="fas fa-arrows-alt mr-1"></i> Drag your photo as you require</h5>
                </div>
                <div class="upload-action-btn text-center px-2">
                  <button type="button" id="cropImageBtn" class="btn btn-default btn-medium bg-blue px-3 mr-2">Upload</button>
                  <button type="button"
                    class="btn btn-default btn-medium bg-default-light px-3 ml-sm-2 replacePhoto position-relative">Replace
                    Photo</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Profile Picture -->

      <h2 class="name">
        <%= user.fullName %>
      </h2>
      <h3 class="username">@<%= user.username %>
      </h3>
      <div class="buttons">
        <a href="/feed" class="button btn btn-success">Feed</a>
        <a href="/logout" class="button btn btn-danger">Logout</a>
      </div>

    </div>
  </div>

  <!-- Cards Container Start Here -->

  <div class="container">

    <% user.posts.forEach(function(post){ %>
      <div class="box">

        <a href="/images/uploads/<%= post.image %>" target="_blank" id="overlay">
          <img src="/images/uploads/<%= post.image %>" alt="image"></a>
        <div class="caption">#<%= post.postText %>
        </div>
      </div>
      <% }) %>

  </div>

  <!-- Cards Container Ends Here -->

  <div class="post-box">
    <div class="form-popup" id="myForm">
      <form action="/upload" class="form-container" method="post" enctype="multipart/form-data">
        <div class="input-file">
          <input type="file" id="file-input" name="file" onchange="showPreview(event);">
          <label id="file-input-label" for="file-input">Select a File</label>
          <img id="file-ip-1-preview">
        </div>
        <input type="text" name="filecaption" id="filecaption" placeholder="Caption" maxlength="15">
        <input type="submit" class="btn">
      </form>
    </div>


    <a class="newpost" id="newpost" onclick="formAction()">
      <img src="/images/plus.png" alt="">
    </a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <!-- Include Croppie -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>

  <script src="/javascripts/profile-pic.js"></script>
</body>

</html>